.recipe-ingredients-table {
  padding: 1rem;
}

.options {
  /*  */
  border: 1px solid blue;
  /* padding: 5px; */
  display: flex;
  border-collapse: collapse;
}

.span-amount {
  font-weight: bold;
  margin: 0 10px;
}

.th-column-id {
  width: 7rem;
}

.th-column-amount {
  width: 11rem;
}

.column-amount {
  max-width: fit-content;
}