.recipe-ingredients-table {
  padding: 1rem;
}

.options {
  border: 1px solid blue;
  display: flex;
  border-collapse: collapse;
}

.alert-message {
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid lightgray;
  border-radius: 4px;
  color: rgb(75, 75, 75);
  background-color: rgba(255, 255, 0, 0.185);
}
