<div class="container">
  <div class="col-xs-16">
    <app-header (changePage)="onChangePage($event)"></app-header>
    <!-- <app-recipe
      *ngIf="getActualPage() == 'recipes'; else renderShoppingList"
    ></app-recipe>
    <ng-template #renderShoppingList>
      <app-shopping-list></app-shopping-list>
    </ng-template> -->

    <!-- <app-ingredient></app-ingredient> -->
    <!-- <app-live-search
      placeholder="Search App"
      label="Search App"
    ></app-live-search> -->
    <!-- <app-input-spinner
      [itemInitialAmount]="testVal"
      (emitAmountUpdated)="testVal = $event"
    ></app-input-spinner>
    {{ testVal }} -->
    <router-outlet></router-outlet>
  </div>
</div>
