<div class="container">

  <div class="col-xs-16">

    <!-- <app-practicing-directives></app-practicing-directives> -->
    <!-- <app-servers></app-servers>  -->
    <!-- <app-success-alert></app-success-alert> -->
    <!-- <app-warning-alert></app-warning-alert> -->

    <app-header (changePage)="onChangePage($event)"></app-header>
    
    <h1>APP Component</h1>

    <app-recipe *ngIf="getActualPage()=='recipes'; else renderShoppingList"></app-recipe>
    <ng-template #renderShoppingList>
      <app-shopping-list></app-shopping-list>
    </ng-template>

  </div>

</div>