.live-search-body {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 1rem;
}

.live-search-body-item {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 1rem;
}

.live-search-body-item:hover {
  background-color: rgba(211, 211, 211, 0.267);
}