<div class="row">
  <div class="col-xs-12">
    <h2>Shopping List</h2>
    <hr />
    <form>
      <div class="row" *ngIf="alertMessage">
        <div class="col-xs-12">
          <div class="alert alert-warning">
            {{ alertMessage }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5 form-group">
          <app-live-search
            label="Name"
            id="name"
            placeholder="Search Item"
            (itemSelected)="onAddSelectedProduct($event)"
          ></app-live-search>
        </div>
      </div>
    </form>
  </div>
</div>
