<div class="row">
  <app-shopping-search></app-shopping-search>
  <hr />
  <div *ngIf="shoppingList.length > 0">
    <button
      class="btn btn-warning btn-clear-list"
      type="button"
      (click)="onClearList()"
    >
      Clear
    </button>
    <table
      class="table table-hover table-striped table-bordered"
      style="margin-bottom: 0"
    >
      <thead>
        <tr>
          <th class="th-column-id">Id</th>
          <th>Name</th>
          <th>Type</th>
          <th class="th-column-amount">Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of shoppingList">
          <td>{{ item.id }}</td>
          <td>{{ item.product.name }}</td>
          <td>{{ item.product['__proto__'].constructor.name }}</td>
          <td>
            <app-input-spinner
              [itemInitialAmount]="item.amount"
              (amountUpdated)="onUpdateItemAmount(item, $event)"
            ></app-input-spinner>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
