<div *ngIf="recipeToDetail">
  <div class="row">
    <div class="col-xs-12">
      <img
        src="{{ recipeToDetail.imagePath }}"
        alt="{{ recipeToDetail.name }}"
        style="max-height: 300px"
        class="img-responsive"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>{{ recipeToDetail.name }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group" appToggleDrop>
        <button class="btn btn-primary dropdown-toggle">
          Manage Recipe <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" style="margin-top: 0">
          <li>
            <a
              style="cursor: pointer"
              (click)="addRecipeIngredientsToShoppingList()"
            >
              To Shopping List
            </a>
          </li>
          <li>
            <a
              [routerLink]="['/', 'recipes', 'manager', recipeToDetail.id]"
              style="cursor: pointer"
            >
              Edit Recipe
            </a>
          </li>
          <li><a style="cursor: pointer">Delete Recipe</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{ recipeToDetail.description }}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-border table-striped table-hover">
        <thead>
          <tr>
            <th style="width: 80%">Ingredient</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of recipeToDetail.ingredientList">
            <td>{{ item.product.name }}</td>
            <td>{{ item.amount }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
